@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
body {
  background-color: #0068b8;
}
.main {
  background-color: #01579b;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  margin-bottom: 20px;
}
.forcast {
  background-color: #014173;
  border-radius: 40px;
}
.forcastText {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 28px;
}
.currentWeather {
  background-color: #0068b8;
  border-radius: 20px;
}

.weather {
  display: flex;
}
.top {
  height: auto;
  align-items: center;
  background-color: #424242;
  color: whitesmoke;
  padding: 10px;
  font-family: "Recursive", sans-serif;
  display: flex;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
}
.select {
  background: #424242;
  margin: 10px 0px 0px 10px;
  display: flex;
}
.header {
  color: whitesmoke;
  margin: 10px 0px 0px 10px;
  font-size: 25px;
  font-family: "Recursive", sans-serif;
}

.day {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.now {
  color: rgb(34, 34, 34);
}

.temp {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.f {
  display: flex;
}
.date {
  align-items: center;
}

.sunrise-sunset {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 16px;
}

.description {
  padding: 15px;
  color: whitesmoke;
  font-family: "Recursive", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.button {
  width: 35px;
  height: 35px;
}
