h1 {
  color: white;
}

.topH {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  background: #01579b;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
